<!DOCTYPE html>
<html>
  <head>
    <title>ProjectGit</title>
 
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1> Hello git benach 2</h1>
    <h1> Hello branch 4</h1>
    <h1> conflict resolved </h1>
    <h2> conflict resolved bet b5 n b2</h2>    
    <%= yield %>

  </body>
</html>
